<!-- TODO add padding-left paddding-right -->
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Username</th>
    <th>Bid Price</th>
    <th>Bid Time (UTC +07:00)</th>
  </tr>
  </thead>
  <tbody>
  <% #Current winner should be in green %>
  <% if @item.bid_infos.size > 0%>
      <% @bid_infos.each do |bi| %>
      <tr class=<%= (bi.id == @item.winner_id) ? "success" : "default" %>>
        <td><%= link_to bi.user.username, postuser_path(bi.user) %></td>
        <td><%= bi.bid_price %></td>
        <td><%= bi.updated_at.localtime %> UTC </td>
        <% if current_user.id == bi.user.id %>
        <td>
          <%= link_to bi, method: :delete, :data => {:confirm => 'Are you sure?'} do %>
              <i class="glyphicon glyphicon-remove pull-right" style="color: red"></i>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="3"> <p align="center">No Bidding</p> </td>
      </tr>
  <% end %>

  </tbody>
</table>
