<!-- IN: table_id (string), items (active record array of items) -->

<table class="table" id=<%= table_id %>>
  <thead>
  <tr>

    <th scope="col">#</th>
    <th scope="col">Product Name</th>
    <th scope="col">Title</th>
    <th scope="col">Cat</th>
    <th scope="col">Sell/Buy</th>
    <th scope="col">Type</th>


    <th scope="col">Author</th>
    <th scope="col">Price</th>
  </tr>
  </thead>

  <tbody>
  <% count = 1 %>
  <% items.each do |item| %>
      <tr>
        <th scope="row"><%= count %></th>
        <td><%= item.product_name %></td>
        <td><%= item.title %></td>
        <td><%= item.category.name %></td>
        <td><%= item.sell_type ? 'Sell' : 'Buy' %></td>
        <td><%= item.is_bid_item? ? 'Bidding' : 'NonBidding' %></td>
        <td><strong>

          <!-- https://stackoverflow.com/questions/37579880/linking-to-profile-page-by-username-on-ruby -->
          <%= link_to item.user.username, postuser_path(item.user.id) if item.user %>


        </strong></td>

        <td><%= item.product_price %></td>
        <td><%= link_to 'view', item_path(item) %></td>

      </tr>
      <% count += 1 %>
  <% end %>
  </tbody>
</table>