<!-- IN: table_id (string), items (active record array of items) -->

<table class="table" style="margin: 0px auto;" id=<%= table_id %>>
  <tbody>
  <% count = 1 %>
  <% items.each do |item| %>
      <br>
      <th scope="row"><%= count %>
      <td>
        <strong><h5><%= image_tag item.user.avatar.url(:thumb), class: "user" %>
          <!-- https://stackoverflow.com/questions/37579880/linking-to-profile-page-by-username-on-ruby -->
          <%= link_to item.user.username, postuser_path(item.user.id) if item.user %>
        </strong>&nbsp;&nbsp; <b>>>>>></b>&nbsp;&nbsp;
        <strong><%= item.product_name %></br>
        </strong></h5>
        <h5><b>Price &nbsp;<%= item.product_price %></b></h5></br></br>
        <% if item.images.present? %>
            <div>
              <%= render 'images/images_gallery', images: item.images, style: 'width: 100px; height: 100px' %>
            </div>
        <% end %>
      </td>
      <td><span class="label label-default pull-right marginBottom10"><%= item.sell_type ? "SELL" : "BUY" %></span></td>
      <td><%= link_to 'view', item_path(item) %></td>

      </tr>
      <% count += 1 %>
  <% end %>
  </tbody>
</table>


